/*grid*/
/*.grid-container{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px;
    border: 1px solid red;
    grid-gap: 30px 10px;
}

.grid-item {
    border: 1px solid black;
    padding: 10px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
}*/


.grid-container {
    display: grid;
    border: 1px solid black;
    grid-gap: 0px 30px;
    grid-template-rows: 120px 120px 120px 120px 120px 120px ;  
    grid-template-columns: 120px 120px 120px 120px 120px 120px;
    justify-content:space-between;
   align-content:center;
   align-items:  center;
    height: 650px;
    width: 100%;
    
}

.grid-item {
    border: 1px solid red;
    padding: 0px;
    margin-top: 80px;
    height: 150px;
    

}